body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(170, 207, 195);
}
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;
  border: 5px solid #0091ff;
  border-radius: 7px;
 
}
.login input{
  margin: 10px;
  width: 200px;
  height: 40px;
  border: 5px solid #0091ff;
  background-color: transparent;
   display: flex;
}
.inputs{
  padding: 10px;
 
}
.chatContainer{
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 500px;
  border: 5px solid #0091ff;
  border-radius: 7px;
}
.chatContainer .messages{
  flex: 90%;
  width: 100%;
  padding-left: 20px;
}
.chatContainer .messageInputs{
  flex: 10%;
  width: 100%;
}
.chatContainer .messageInput input{
  flex: 80%;
  height: calc(100% -5px);
  border: none;
  border-top: 5px solid #0091ff;
  font-size: 18px;
}
.chatContainer .messageInput button{
  flex: 20%;
  height: 100%;
  background-color: #0091ff;
  border: none;
  color: white;
}
.message{
  width: 250px;
  height: 40px;
  display: grid;
  place-items: center;
  /* height: auto; */
  background-color: rgb(155, 153, 175);
  color: white;
  margin: 20px;
}
.messageContainer{
  display: flex;
  flex-direction: row;
}
.messageContainer #You{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17px;
}
 #Other{
 justify-content: flex-end;
}
#Other .message{
  background-color: yellow;
}
 #You{
 justify-content: flex-start;
}
.messageContainer h1{
  color: white;
  font-weight: 300;
  font-size: 17px;
}
span{
  color: black;
  font-weight: 400;
}